@font-face {
    font-family: 'NType 82';
    src: url('NType82-Regular.eot');
    src: url('NType82-Regular.eot?#iefix') format('embedded-opentype'),
        url('NType82-Regular.woff2') format('woff2'),
        url('NType82-Regular.woff') format('woff'),
        url('NType82-Regular.ttf') format('truetype'),
        url('NType82-Regular.svg#NType82-Regular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

