html {
  font-size: 10px;
}
:root {
  color-scheme: dark;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #eee;
  background: #222;
  -webkit-font-smoothing: antialiased;
}
.lightmode {
  color: #222;
  background: #eee;
}
.lightmode .menu-list li a,
.lightmode .btn-primary,
.lightmode .btn-primary:hover,
.lightmode .btn-primary:focus,
.lightmode .btn-primary:active {
  color: #222;
}
h1,
h2 {
  padding-left: 3.5rem;
  letter-spacing: 0.02em;
  width: 100%;
  color: #eee;
}
h1 {
  font-weight: 600;
  font-size: 3.4rem;
  float: left;
}
h2 {
  margin-top: 0;
  font-weight: 300;
  font-size: 1.8rem;
  float: left;
}
a,
p,
span,
a:focus {
  font-size: 1.8rem;
  line-height: 1.7em;
  color: #eee;
  text-decoration: none;
}
a:hover {
  color: #eee;
  text-decoration: underline;
}
a::after {
  content: ' >>';
  line-height: 0;
  vertical-align: super;
}
del,
u {
  color: #eee;
}
.lightmode a,
.lightmode a:hover,
.lightmode a:focus,
.lightmode p,
.lightmode span,
.lightmode h1,
.lightmode h2,
.lightmode del,
.lightmode u {
  color: #222;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
}
.content-area {
  position: relative;
  left: 0;
  width: 100%;
}
.content-area .content-area-inner {
  position: relative;
  width: 100%;
  padding: 90px 20px 0px;
  overflow-x: hidden;
}
.content-area .content-area-inner section {
  max-width: 700px;
  margin: 0 auto 20vh auto;
}
.content-area .content-area-inner section:last-child {
  margin-bottom: 10vh;
}
.content-area .content-area-inner section h2.headline {
  margin-bottom: 1.4em;
  font-weight: 500;
}
.glitch {
  font-weight: 500;
  font-size: 5rem;
  position: relative;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #eee;
  text-shadow: 5px 5px #e3fc00;
}
.lightmode .glitch {
  -webkit-text-stroke-color: #222;
  text-shadow: 5px 5px #f06334;
}
.content {
  margin: auto;
  padding: 0px 0px;
  max-width: 700px;
}
.navbar {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar #lightBtn {
  font-size: 2rem;
  line-height: 1.7em;
  font-weight: 600;
  cursor: pointer;
}
.temp {
  font-size: 2rem;
  line-height: 1.7em;
  font-weight: 600;
}
@media (max-width: 700px) {
  .content {
    padding: 0px 18px;
  }
  #lightBtn {
    line-height: 50px;
  }
}
#resume .resumes-list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
#resume .resumes-list li {
  display: block;
}
#resume .resumes-list li button {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.4em;
  position: relative;
  display: block;
  width: 100%;
  padding-left: 0px;
  text-align: left;
  border: none;
  border-radius: 0px;
  background: #222;
}
.lightmode #resume .resumes-list li button {
  background: #eee;
}
#resume .resumes-list li .well {
  min-height: 20px;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 2.5rem;
  padding-left: 3.5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}
#profile .showcase .item {
  width: 17rem;
  height: 17rem;
  margin-left: 3.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  background-image: url(/assets/img/profile/ananda.jpg);
}
.footer {
  padding-top: 45px;
  pointer-events: auto;
}
.desc {
  display: none;
}
.p1,
.lightmode .p1 {
  color: #888;
}
