html {
  font-size: 10px;
  font-family: NType82-Regular;
}
body {
  margin: 0;
}
@font-face {
  font-family: 'NType82-Regular';
  src: url('/font/NType82-Regular.eot');
  src: url('/font/NType82-Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/NType82-Regular.woff') format('woff'),
    url('/font/NType82-Regular.ttf') format('truetype'),
    url('/font/NType82-Regular.svg#svgFontName') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Ndot-55';
  src: url('/font/Ndot-55.eot');
  src: url('/font/Ndot-55.eot?#iefix') format('embedded-opentype'),
    url('/font/Ndot-55.woff') format('woff'),
    url('/font/Ndot-55.ttf') format('truetype'),
    url('/font/Ndot-55.svg#svgFontName') format('svg');
  font-display: swap;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: NType82-Regular;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1.1;
}
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}
p {
  margin: 0 0 10px;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
:root {
  color-scheme: dark;
}
body {
  font-family: 'NType82-Regular';
  font-weight: 300;
  letter-spacing: 0.52px;
  word-spacing: 0.5em;
  font-style: normal;
  color: #eee;
  background: #111;
  -webkit-font-smoothing: antialiased;
}
.lightmode {
  color: #222;
  background: #eee;
}
h1,
h2 {
  padding-left: 1.5rem;
  letter-spacing: 0.52px;
  width: 100%;
  color: #eee;
}
h1 {
  font-weight: 600;
  font-size: 3.4rem;
}
h2 {
  margin-top: 0;
  font-weight: 300;
  font-size: 1.8rem;
}
h4,
h5 {
  letter-spacing: 0.52px;
  font-weight: 300;
  font-size: 4rem;
  line-height: 1em;
}
h3 {
  font-size: 1.8rem;
  font-weight: 300;
  padding-top: 1rem;
  line-height: 0.1em;
  letter-spacing: 0.52px;
  padding-left: 1.5rem;
}
h5 {
  padding-top: 0.4em;
}
a,
p,
span,
a:focus {
  font-size: 1.8rem;
  line-height: 1.5em;
  color: #eee;
  text-decoration: none;
}
a:hover {
  color: #eee;
  text-decoration: underline;
}
a::after {
  content: ' >>';
  line-height: 0;
  vertical-align: super;
}
del,
u {
  color: #eee;
}
b {
  line-height: 1.7em;
  font-weight: 300;
}
.lightmode a,
.lightmode a:hover,
.lightmode a:focus,
.lightmode p,
.lightmode span,
.lightmode h1,
.lightmode h2,
.lightmode del,
.lightmode u {
  color: #222;
}
@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
}
.content-area {
  position: relative;
  left: 0;
  width: 100%;
}
.content-area .content-area-inner {
  position: relative;
  width: 100%;
  padding: 0px 20px 0px;
  overflow-x: hidden;
}
.content-area .content-area-inner section {
  max-width: 700px;
  margin: 0 auto auto auto;
}
.content-area .content-area-inner section:last-child {
  margin-bottom: 8vh;
}
.glyph {
  font-family: Ndot-55;
  font-weight: 300;
  font-size: 5rem;
  position: relative;
}
.temp {
  font-family: Ndot-55;
}
#lightBtn {
  padding-top: 10px;
  cursor: pointer;
}
@media (max-width: 750px) {
  .content {
    padding: 0px 18px;
  }
  .content-area .content-area-inner section:last-child {
    margin-bottom: 5vh;
  }
}
#resume .resumes-list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
#resume .resumes-list li {
  display: block;
}
#resume .resumes-list li .well {
  min-height: 20px;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}
#profile .item {
  margin-top: 5rem;
  width: 15rem;
  height: 15rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  background-image: url(/assets/img/profile/ananda.webp);
}
.showcase {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.item2 {
  padding-top: 6rem;
  padding-left: 2rem;
}
@media (max-width: 700px) {
  .showcase {
    flex-direction: column;
  }
  #profile .item {
    width: 17rem;
    height: 17rem;
    margin-bottom: 0;
  }
  .item2 {
    padding-top: 0;
    padding-left: 0;
  }
  .glyph {
    font-size: 5.5rem;
  }
}
.footer {
  margin-left: 1.5rem;
  padding-top: 45px;
  pointer-events: auto;
}
.p1,
.lightmode .p1 {
  line-height: 1em;
  color: #888;
}
.p2 {
  font-family: Ndot-55;
}
#typed {
  letter-spacing: 0.52px;
}
